
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <div class="container-fluid">
            <img src="{% static 'fotos/contenedor.webp' %}" alt="" width="40" height="40">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}" style="color: #fff; font-size: 18px; font-weight: bold; text-decoration: none;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'informativo'%}" style="color: #fff; font-size: 18px; font-weight: bold; text-decoration: none;">Info</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fff; font-size: 18px; font-weight: bold; text-decoration: none;">
                          Categorias
                        </a>
                        
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #fff; border: 1px solid #ccc;">
                            <li><a class="dropdown-item" href="{% url 'preguntas' %}" style="color: #000; font-weight: bold;">Preguntas</a></li>
                            <li><a class="dropdown-item" href="{% url 'calculadora' %}" style="color: #000; font-weight: bold;">Calculadora</a></li>
                            <li><a class="dropdown-item" href="{% url 'Ubicaciones' %}" style="color: #000; font-weight: bold;">Ubicaciones</a></li>
                            <li><a class="dropdown-item" href="{% url 'Beneficios' %}" style="color: #000; font-weight: bold;">Beneficios</a></li>
                          </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'somos' %}" style="color: #fff; font-size: 18px; font-weight: bold; text-decoration: none;">Quienes Somos</a>
                    </li>
                </ul>
              
                
                <div class="navbar-nav ml-auto">
                    {% if request.session.user_id %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <img width="30" height="30" src="https://img.icons8.com/material-rounded/24/user.png" alt="user" />
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'Usuario' %}" style="color: #000; font-weight: bold;">Datos Usuario</a></li>
                        <li><a class="dropdown-item" href="{% url 'cerrar_sesion' %}" style="color: #000; font-weight: bold;">Cerrar Sesion</a></li>
                      </ul>
                  </li>
                   <li>
                      <p class="text-success">.....................</p>
                   </li>
                    {% else %}
                    <!-- Mostrar información cuando la sesión de usuario no existe -->
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'registro' %}">Registrarse</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active m" aria-current="page" href="{% url 'login' %}">Login</a>
                  </li>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>


<div class="container">
    <h1>Editar Pregunta</h1>
    <a href="{% url 'preguntas' %}"><button class="btn btn-success mt-2">Cancelar</button></a>
    <form method="POST" class="form-control mt-2">
        {% csrf_token %}

        {% for key, valor in preguntas.items %}
        
            {% if key == 'titulo' %}
                <div class="form-group">
                    <label for="titulo">Pregunta:</label>
                    <input type="text" name="titulo" value="{{ valor }}" class="form-control">
                </div>
            {% endif %}
    
            {% if key == 'descripcion' %}
                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <input type="text" name="descripcion" value="{{ valor }}" class="form-control mt-2">
                </div>
            {% endif %}
        {% endfor %}
        <button class="btn btn-primary" >Editar</button>
      
    </form>
   

</div>

</body>
</html>